---
import HeadingTag from '@/components/HeadingTag.astro'
import BaseLayout from '@/layouts/BaseLayout.astro'
import type { MarkdownLayoutProps } from 'astro'
import dayjs from 'dayjs'

type Props = MarkdownLayoutProps<{
  title: string
  author: string
  description: string
  pubDate: string
  image: {
    url: string
    alt: string
  }
}>

const { frontmatter, headings } = Astro.props
---

<BaseLayout title={frontmatter.title}>
  <section class='header'>
    <h1 class='title'>{frontmatter.title}</h1>
    <p>{dayjs(frontmatter.pubDate).format('YYYY.MM.DD')}</p>
    <img src={frontmatter.image.url} alt={frontmatter.image.alt} />
  </section>

  <div class='main'>
    <section class='markdown'>
      <slot />
    </section>
    <nav>
      {headings.length !== 0 && (
        <ul class='list'>
          {headings.map(head => (
            <li>
              <a href={`#${head.slug}`}>
                <HeadingTag level={head.depth}>
                  {Array.from({ length: head.depth - 1 }, (_, idx) => idx === 0 ? '' : 'ㅤ').join('')}
                  {head.text}
                </HeadingTag>
              </a>
            </li>
          ))}
        </ul>
      )}
    </nav>
  </div>
</BaseLayout>

<style lang='scss'>
  .header {
    display: block;
    padding-left: 24px;
    padding-top: 48px;
    padding-bottom: 60px;
    width: 100%;
    box-sizing: border-box;

    .title {
      font-size: rem(32px);
      font-weight: 700;
      margin: 0;
    }

    p {
      font-size: rem(14px);
      color: $grey-500;
      margin: 8px 0;
    }

    img {
      max-width: 500px;
      margin: 0 auto;
    }
  }

  .main {
    display: flex;
    justify-content: start;
    align-items: start;
    height: auto;
    padding-left: 24px;
    width: 100%;
    box-sizing: border-box;

    .markdown {
      box-sizing: border-box;
      padding-right: 30px;
      max-width: calc(100% - 250px);
    }

    nav {
      position: sticky;
      top: 16px;
      right: 0px;
    }
  }

  @media screen and (max-width: 768px) {
    .main {
      nav {
        display: none;
      }

      .markdown {
        max-width: 100%;
      }
    }
  }

  li, a, h1, h2, h3, h4, h5, h6 {
    box-sizing: border-box;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  h1, h2 {
    font-size: rem(14px);
  }
  h3, h4 {
    font-size: rem(12px);
  }
  h5, h6 {
    font-size: rem(10px);
  }
  h1 {
    font-weight: 700;
    font-size: rem(16px);
  }
  h2 {
    font-weight: 600;
  }
  h3 {
    font-weight: 400;
  }
  h4, h5, h6 {
    color: $grey-400;
  }
</style>

<style is:global>
  .markdown {
    img {
      max-width: 100%;
      height: auto;
    }
  }
</style>
