---
import { LinkedInLogoIcon, GitHubLogoIcon } from "@radix-ui/react-icons";

const { title } = Astro.props;
const locale = Astro.currentLocale || "ko";
const currentPath = Astro.url.pathname;
const targetLocale = locale === "ko" ? "en" : "ko";
const targetPath = currentPath.replace(/^\/(ko|en)/, `/${targetLocale}`);
---

<html lang={locale}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <nav class="navbar">
      <div class="navbar-home">
        <a href={`/${locale}`}> @dev_hee </a>
      </div>
      <div class="navbar-links">
        <a href={targetPath}>
          {targetLocale === "ko" ? "A" : "가"}
        </a>
        <a href={`/${locale}/me`}> me </a>
        <a href="https://github.com/piggmme" target="_blank">
          <GitHubLogoIcon width={20} height={20} />
        </a>
        <a href="https://www.linkedin.com/in/dev-hee" target="_blank">
          <LinkedInLogoIcon width={20} height={20} />
        </a>
      </div>
    </nav>
    <main>
      <slot />
    </main>
  </body>
</html>

<style lang="scss">
  body {
    color: $font-black;
  }
  h1 {
    font-size: rem(26px);
    font-weight: 700;
  }

  .navbar {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 24px;

    &-home {
      font-size: rem(20px);
      font-weight: 700;
      color: $font-black;
      text-decoration: none;

      transition: opacity 0.2s ease;
      &:hover {
        opacity: 0.7;
      }
    }

    &-links {
      display: flex;
      gap: 24px;
      align-items: center;
      font-size: rem(16px);
      font-weight: 700;

      a {
        transition: opacity 0.2s ease;
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }

  main {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 24px;
    box-sizing: border-box;
    margin-bottom: 100px;
  }
</style>
